<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>BF Accounts</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="description" content="Borderfree accounts">
		<link rel="icon" href="data:;base64,iVBORw0KGgo=">
		<!-- app -->
	</head>
	<body ng-cloak style="font-size: 1.5em;">

		<app style="width: 100%;">
			Loading...
		</app>

		<!-- analytics -->
	</body>
</html>
