<!--if you'd like to have the navbar and or header on every page, move it up a level to app.html!-->
<div class="container">
  <app-header></app-header>
  <navbar></navbar>
  <main>
    <div class="alert alert-dismissible alert-info">
      <button class="close" data-dismiss="alert" type="button">×</button>
      <strong>Heads up!</strong>
      You can find me in
      {{ vm.name }}.html.
    </div>
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" ng-repeat="bw in vm.buildWith">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">{{bw.title}}</h3>
          </div>
          <div class="panel-body text-center box-h180">
            <img alt="{{bw.title}}" class="larger" ng-src="{{bw.img}}" title="{{bw.title}}">
          </div>
        </div>
      </div>
    </div>
  </main>
  <app-footer></app-footer>
</div>
